/*PESQUISA------------------------------------------------------*/
.pesquisaInput{
        width: 50vw;
        font-size: 20px;
}

.pesquisaFiltro{
    max-width: 100px;
}

.pesquisaResultados{
    margin-top: 30px;
}