:root {
  /*DARK MODE*/
  --bgcolor-body: #181818;
  --bgcolor-complement: #2e2e2e;
  --textcolor: #f3f3f3;
  --textcolor-secondary: #e0e0e0;
  --primary: #ff8b2d;
  --secondary: #f79b51;
  --terciary: #f7b37d;
}