body {
  background-color: var(--bgcolor-body);
  color: var(--textcolor);
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;

  word-wrap: break-word
}

.display {
  visibility: visible;
  width: auto;
  height: auto;

  transition: ease-in-out 200ms;
}

.hide {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  width: 0;
  height: 0;

  transition: ease-in-out 200ms;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bgcolor-complement);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  top: 83px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input {
  outline: none;
  border: none;
  border-bottom: solid 1px var(--textcolor);
  background-color: inherit;
  color: var(--textcolor-secondary);
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
  margin-right: 5px;
}

input:focus {
  outline: none;
  border-bottom: solid 1px var(--primary);
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
}

textarea {
  outline: none;
  border: none;
  border-left: solid 1px var(--textcolor);
  background-color: inherit;
  color: var(--textcolor-secondary);
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
  font-weight: 300;
  margin-right: 5px;
}

textarea:focus {
  outline: none;
  border-left: solid 1px var(--primary);
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
}

select {
  outline: none;
  border: none;
  border-bottom: solid 1px var(--textcolor);
  background-color: inherit;
  color: var(--textcolor-secondary);
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
  font-weight: 300;
  margin-right: 5px;
}

select:focus {
  outline: none;
  border-bottom: solid 1px var(--primary);

  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;

  option {
    background-color: var(--bgcolor-complement);
  }
}

.submit {
  background-color: var(--primary);
  border-bottom: solid 1px var(--primary);
  min-width: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-right: 0px;
  padding: 5px;
}

button {
  background-color: var(--primary);
  border: none;
  min-width: 16px;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-right: 0px;
  padding: 5px;
}

button:focus {
  outline: none;
}

main {
  margin-top: 85px;
  width: 100%;
  margin-bottom: 100px;
}

//Importar arquivos _.scss
@import "./variables";

@import "./header";

@import "./login";
@import "./layout";
@import "./cadastra-projeto";
@import "./projeto";
@import "./pesquisa";
@import "./show-user";
@import "./pasta";
@import "./cadastra-pasta";

@import "./footer";
